.nav-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: $black;
}

.nav {
  width: 930px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $white;
  button {
    color: $white;
  }
}
