.table {
  display: table;
  width: 90%;
  height: 50%;

  .row {
    width: 100%;
    display: table-row;

    display: flex;
    justify-content: space-between;

    border: 1px solid $white;
  }

  .column {
    width: 100%;

    display: table-cell;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 5px;

    & > button {
      margin: 0 5px;
    }
  }

  .editBtn {
  }
}
